* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.background-image {
    width: 100%;
    min-height: 100vh;
    background-image: url(socially_img/thumb-1920-1342304.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* --- NAVIGATION --- */
nav {
    padding: 35px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 280px;
    height: 80px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 5px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* --- BUTTONS --- */
.login-btn {
    text-decoration: none;
    color: #000000;
    margin-right: 15px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    border-top-right-radius: 30px;
}

/* --- CONTENT --- */
.content {
    margin-top: 6%;
    max-width: 600px;
    padding: 0 12%;
}

.content h1 {
    font-size: 70px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    max-width: 340px;
padding: 1px;
    text-shadow: 1px 1px 2px #000;
}

.content p {
    margin: 20px 0 30px;
    color: #000000;
    width: 100%;
    max-width: 600px;
    font-weight: bold;
}

.content .btn {
    padding: 20px 80px;
    font-size: 16px;
}

/* --- IMAGE --- */
.feauture-img {
    width: 440px;
    height: 530px;
    position: absolute;
    bottom: 0;
    right: 10%;
}
/* --- RESPONSIVE DESIGN --- */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .content {
        margin-top: 20%;
        padding: 0 5%;
    }

    .content h1 {
        font-size: 40px;
        max-width: 100%;
    }

    .content p {
        font-size: 16px;
        max-width: 100%;
    }

    .content .btn {
        padding: 16px 40px;
        font-size: 14px;
    }

    .feauture-img {
        width: 90%;
        height: auto;
        position: relative;
        right: 0;
        bottom: 0;
        margin-top: 30px;
    }
}